<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.laudoak.oakpark" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name=".OPlication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity android:name=".activity.HelloActivity"
            android:theme="@style/HelloTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.OakParkActivity"
            android:label="@string/app_name" >

        </activity>

        <activity android:name=".activity.EnterActivity"
            android:label="">
        </activity>

        <activity android:name=".activity.PoetActivity"
            android:label="">
        </activity>

        <activity android:name=".activity.EditorActivity"
            android:label="">
        </activity>

        <activity android:name=".activity.WhisperActivity"
            android:label="">
        </activity>

        <activity android:name=".activity.SettingActivity"
            android:label="">
        </activity>

        <activity android:name=".activity.BulbulActivity"
            android:label="">
        </activity>

        <activity android:name=".activity.CommentActivity">
        </activity>

        <activity android:name=".activity.PrinterActivity"
            android:label="">
        </activity>

        <activity android:name=".activity.OuterActivity"
            android:label="">
        </activity>

        <!-- Login with QQ -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1104939996" />
            </intent-filter>
        </activity>
        <!-- -->

        <!-- Mob Share SDK-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1104939996" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- WeChat share callback-->
        <activity
            android:name=".sns.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <!-- for UMeng-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="562c59af67e58e58fb002ecd" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" >
        </meta-data>

    </application>

</manifest>
